{% extends "layout.html" %}

{% block content %}

<div class="fix-div" id = "djListHeader">
    <p style="margin: 30px 30px;">Book A DJ</p>
</div>


    <div class = "wrapper">
        {%for dj in djList %}
        <div class = "djContainer">
            <p>{{dj.2}}</p>
            <p>{{dj.0}}</p>
            <br>
            <p>{{dj.1}}</p>
            <a class= "button" href = "{{ url_for('get_confirm', dj = dj.2)}}">book</a>
            
        </div>
        {% endfor %}
    </div>


{% endblock %}