<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <strong><nav>
        <ul class="menu">
          <li><a href="{{ url_for('get_home') }}">Home</a></li>
          <li><a href="{{ url_for('get_book')}}">Book</a></li>
          <li style="float:right">  <div class="dropdown">
            <button class="dropbtn"> 
              <img src="" alt="0">
            </button>
            <div class="dropdown-content">
              <a href="#">Profile</a>
              <a href="#">Sign Out</a>
            </div>
          </li>
        </ul>
      </nav></strong>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>