<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <strong><nav class = "fix-nav">
        <ul class="menu">
          <li><a href="{{ url_for('get_home') }}">Home</a></li>
          <li><a href="{{ url_for('get_book')}}">Book</a></li>
          {% if loggedIn %}
          <li style="float:right">  <div class="dropdown">

            <button class="dropbtn"> 
              <img style = "  display: block;
              margin-left: auto;
              margin-right: auto;
              width: 22%;" class = "dropdownImg" src="" alt="0">
            </button>
            
            <div class="dropdown-content">
              
              <a href="/profile">Profile</a>
              <a href="/signout">Sign Out</a>
            {% else %}
            <li style="float:right"><a href="{{ url_for('get_login')}}">Login</a></li>
            {%endif%}
            </div>
          </li>
        </ul>
      </nav></strong>
    </header>
      {% block content %}
      {% endblock %}
  </body>
</html>