{% extends "layout.html" %}

{% block content %}
<div id = "loginContainer" class = "wrapper">
    <form class = "Login" method = "POST">
        <label class = "formLabel" for="username">Username:</label><br>
        <input type="text" id="username" name= "username" value="James Hype"><br><br>
        <label class = "formLabel" for="password">Password:</label><br>
        <input type="password" name = "password" id="password" value="Pssword1"><br><br>
        <input type="submit" value="Submit">
        <p>{{error}}</p>
      </form>
</div>

{% endblock %}