{% extends "layout.html" %}

{% block content %}

<div class="fix-div" id = "djListHeader" >
    <br>
    <div class ="username">{{user.username}}</div>
    <br>
    <div class ="bio">{{user.bio}}</div>
    <br>
    <div class ="genres">{{user.genres}}</div>
    
</div>

<div class = "wrapper">
    <h1>Bookings </h1>
    {%for booking in bookings %}
    <div class = "djContainer">
        <p>{{booking.0}}</p>
        <p>{{booking.1}}</p>
        <p>{{booking.2}}</p>
        <p>{{booking.3}}</p>
        <br>
        <a class= "button" href = "">cancel</a>
        
    </div>
    {% endfor %}
</div>


{% endblock %}